{% extends 'base.html' %}
{% load i18n %}
{% load static %}


{% block title %}
  {% trans "Quienes Somos" %}
{% endblock title %}

{% block main %}
<!-- Header-->
<header class="py-5">
    <div class="container px-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xxl-6">
                <div class="text-center my-5">
                    <h1 class="fw-bolder mb-3">{% trans "Nuestra misión" %}</h1>
                    <p class="lead fw-normal text-muted mb-4">{% trans "En NutriBalance, nuestra misión es proporcionar un enfoque personalizado para alcanzar tus objetivos de salud y bienestar. Nos dedicamos a empoderarte con los conocimientos y las herramientas necesarias para tomar decisiones informadas sobre tu alimentación y hábitos de vida." %}</p>
                    {% comment %} <a class="btn btn-primary btn-lg" href="#scroll-target">Read our story</a> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</header>
<!-- About section one-->
<section class="py-5 bg-light">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">{% trans "¿Quiénes Somos?" %}</h2>
                <p class="lead fw-normal text-muted mb-0">{% trans "Somos un equipo apasionado de profesionales de la nutrición comprometidos con tu éxito. Nuestros nutricionistas y expertos en salud trabajan de la mano contigo para diseñar planes alimenticios adaptados a tus necesidades individuales. Creemos en abordar la nutrición de manera integral, considerando no solo lo que comes, sino también tu estilo de vida, metas personales y preferencias." %}</p>
            </div>
        </div>
    </div>
</section>
<!-- About section two-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">{% trans "Enfoque Personalizado" %}</h2>
                <p class="lead fw-normal text-muted mb-0">{% trans "En NutriBalance, reconocemos que cada persona es única, y no existe un enfoque único para todos. Es por eso que nos esforzamos por brindar un servicio completamente personalizado. Desde la planificación de comidas hasta el seguimiento del progreso, estamos comprometidos a ofrecerte un apoyo constante y motivación para alcanzar tus objetivos." %}</p>
            </div>
        </div>
    </div>
</section>
<!-- About section three-->
<section class="py-5 bg-light">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">{% trans "Nuestros Valores" %}</h2>
                <p class="lead fw-normal text-muted mb-4">
                <ul>
                    <li class="lead fw-normal text-muted"><strong>{% trans "Compromiso:" %}</strong> {% trans "Nos comprometemos a estar a tu lado en cada paso del camino hacia una vida más saludable." %}</li>
                    <li class="lead fw-normal text-muted"><strong>{% trans "Integridad:" %}</strong> {% trans "Guiamos nuestras prácticas con honestidad y transparencia, proporcionando información confiable y basada en la evidencia." %}</li>
                    <li class="lead fw-normal text-muted"><strong>{% trans "Empatía:" %}</strong> {% trans "Comprendemos tus desafíos y aspiraciones, y trabajamos juntos para superar obstáculos y celebrar tus éxitos." %}</li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- About final section-->
<section class="py-5">
    <div class="container px-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xxl-6">
                <div class="text-center my-5">
                    {% comment %} <h1 class="fw-bolder mb-3">{% trans "Nuestra misión" %}</h1> {% endcomment %}
                    <p class="lead fw-normal mb-4">{% trans "En NutriBalance, no solo te ayudamos a alcanzar tus objetivos de nutrición, sino que también te apoyamos en la creación de hábitos sostenibles para una vida más plena y saludable." %}</p>
                    <p class="lead fw-normal mb-4">{% trans "¡Únete a nosotros en este emocionante viaje hacia un equilibrio nutricional y un bienestar duradero!" %}</p>
                    <a class="btn btn-primary btn-lg" href="{% url 'contact' %}">Contacta con nosotros</a>
                    
                </div>
            </div>
        </div>
    </div>
</section>
</main>
{% endblock main %}