{% extends 'base.html' %}
{% load i18n %}

{% block title %}
{% trans "Contacto" %}
{% endblock %}

{% block main %}
<!-- Page content -->
<section class="py-5">
    <div class="container px-5">
        <!-- Contact form -->
        <div id="form_container" class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
            <div class="text-center mb-5">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                    <i class="bi bi-envelope"></i>
                </div>
                <h1 class="fw-bolder">{% trans 'Contactar' %}</h1>
                <p class="lead fw-normal text-muted mb-0">{% trans 'Nos encantaría contar contigo' %}</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <form id="contactForm" class="needs-validation" novalidate>
                        <!-- Name input hx-on::before-request="if(!document.getElementById('contactForm').checkValidity()) {alert(); evt.preventDefault(); evt.stopPropagation();}" -->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="name" name="name" type="text" autocomplete="name" placeholder="{% trans 'Nombre completo' %}" required />
                            <label for="name">{% trans 'Nombre completo' %}</label>
                        </div>
                        <!-- Email address input -->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="email" name="email" type="email" autocomplete="email" placeholder="{% trans 'Dirección de correo' %}" required/>
                            <label for="email">{% trans 'Dirección de correo' %}</label>
                        </div>
                        <!-- Phone number input -->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="phone" name="phone" type="tel" autocomplete="tel" placeholder="123 45 67 89" required/>
                            <label for="phone">{% trans 'Numero de teléfono' %}</label>
                        </div>
                        <!-- Message input -->
                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="message" id="message" type="text" placeholder="{% trans 'Mensaje' %}" style="height: 10rem" required></textarea>
                            <label for="message">{% trans 'Mensaje' %}</label>
                        </div>
                        <!-- Submit Button -->
                        <div class="d-grid">
                            <button class="btn btn-primary btn-lg" id="submitButton"
                                    hx-trigger="click[checkValidity()]"
                                    hx-post="{% url 'contact-form' %}" hx-boost="false" hx-swap="outterHTML"
                                    hx-target="#form_container">{% trans 'Enviar' %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Contact cards -->
        <div class="row gx-5 row-cols-2 row-cols-lg-4 py-5 justify-content-center">
            <div class="col">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                    <i class="bi bi-telephone"></i>
                </div>
                <div class="h5">{% trans 'Llámanos' %}</div>
                <p class="text-muted mb-0">{% trans 'Llámanos durante el horario laboral al 978 97 98 79' %}</p>
            </div>
            <div class="col">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                    <i class="bi bi-building"></i>
                </div>
                <div class="h5">{% trans 'Dirección' %}</div>
                <p class="text-muted mb-0">{% trans 'Estamos en C/Atarazana, nº2, 44003 Teruel' %}</p>
            </div>
        </div>
    </div>
</section>

<script>
    // Disabling form submissions if there are invalid fields
    function checkValidity() {
        document.getElementById('contactForm').classList.add('was-validated')
        return document.getElementById('contactForm').checkValidity()
    }
    ; (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach((form) => {
            form.addEventListener(
                'submit',
                (event) => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                },
                false
            )
        })
    })()
</script>
{% endblock %}