{% extends 'base.html' %}
{% load i18n %}

{% block title %}
{% trans "Contacto" %}
{% endblock %}

{% block main %}
<!-- Page content -->
<section class="py-5">
    <div class="container px-5">
        <!-- Contact form -->
        <div id="formContainer" class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
            <div class="text-center mb-5">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                    <i class="bi bi-envelope"></i>
                </div>
                <h1 class="fw-bolder">{% trans 'Contactar' %}</h1>
                <p class="lead fw-normal text-muted mb-0">{% trans 'Nos encantaría contar contigo' %}</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <form 
                        id="mainForm" 
                        class="needs-validation"
                        hx-post="{% url 'contact-form' %}" 
                        hx-trigger="bs-send"
                        hx-swap="outerHTML"
                        hx-target="#formContainer" 
                        novalidate>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="name" name="name" type="text" autocomplete="name" placeholder="{% trans 'Nombre completo' %}" maxlength="50" required />
                            <label for="name">{% trans 'Nombre completo' %}</label>
                        </div>
                        <!-- Email address input -->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="email" name="email" type="email" autocomplete="email" placeholder="{% trans 'Dirección de correo' %}" maxlength="50" required/>
                            <label for="email">{% trans 'Dirección de correo' %}</label>
                        </div>
                        <!-- Phone number input -->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="phone" name="phone" type="tel" autocomplete="tel" placeholder="123 45 67 89" maxlength="50" required/>
                            <label for="phone">{% trans 'Numero de teléfono' %}</label>
                        </div>
                        <!-- Message input -->
                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="message" name="message" type="text" placeholder="{% trans 'Mensaje' %}" style="height: 10rem" maxlength="500" required></textarea>
                            <label for="message">{% trans 'Mensaje' %}</label>
                        </div>
                        <!-- Submit Button -->
                        <div class="d-grid">
                            <button 
                                class="btn btn-primary btn-lg" 
                                id="submitButton"
                                type="submit">
                                {% trans 'Enviar' %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Contact cards -->
        <div class="row gx-5 row-cols-2 row-cols-lg-4 py-5 justify-content-center">
            <div class="col">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                    <i class="bi bi-telephone"></i>
                </div>
                <div class="h5">{% trans 'Llámanos' %}</div>
                <p class="text-muted mb-0">{% trans 'Llámanos durante el horario laboral al 978 97 98 79' %}</p>
            </div>
            <div class="col">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                    <i class="bi bi-building"></i>
                </div>
                <div class="h5">{% trans 'Dirección' %}</div>
                <p class="text-muted mb-0">{% trans 'Estamos en C/Atarazana, nº2, 44003 Teruel' %}</p>
            </div>
        </div>
    </div>
</section>

<script>
    ; (() => {
        'use strict'
        const form = document.getElementById('mainForm')
        if (!form) return

        form.addEventListener('submit', (event) => {
                if (form.checkValidity()) {
                    // trigger custom event hx-trigger="bs-send"
                    htmx.trigger(form, "bsSend");
                }
                event.preventDefault()
                event.stopPropagation()
                
                form.classList.add('was-validated')
            },false)
    })()
</script>
{% endblock %}