{% load i18n %}

<div id="form_container" class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
  <div class="text-center mb-5">
    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
      <i class="bi bi-envelope"></i>
    </div>
    <h1 class="fw-bolder">{% trans "Hecho" %}</h1>
    <p class="lead fw-normal text-muted">{% trans "Responderemos lo más rápido posible." %}</p>
    <a class="btn btn-lg btn-outline-dark" px-4 shadow " href="{% url 'home' %}">{% trans 'Volver' %}</a>
  </div>
</div>