{% extends 'base.html' %}
{% load i18n %}
{% load static %}


{% block title %}
  NutriBalance
{% endblock title %}


{% block style %}
<style>
  .noisy-gradient {
    background: linear-gradient(45deg, #3498db99, #2ecc7199), url(https://grainy-gradients.vercel.app/noise.svg); /* Change colors as needed */ 
  }
</style>
{% endblock style %}
  

{% block main %}
  <main>
    <!-- Header -->
    <header class="bg-dark py-5 noisy-gradient">
      <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
          <div class="col-lg-8 col-xl-7 col-xxl-6">
            <div class="my-5 text-center text-xl-start">
              <h1 class="display-5 fw-bolder text-white mb-2">{% trans 'Encuentra el equilibrio perfecto para tu bienestar' %}</h1>
              <p class="lead fw-normal text-white mb-4">{% trans 'Estamos comprometidos a proporcionarte las herramientas y el conocimiento necesario para transformar tus hábitos alimenticios y alcanzar una vida plena en equilibrio.' %}</p>
              <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                <a class="btn btn-primary btn-lg px-4 me-sm-3 shadow " href="{% url 'contact' %}">{% trans 'Contactar' %}</a>
                <a class="btn btn-outline-light btn-lg px-4 shadow " href="#{% trans 'Más_Información' %}">{% trans 'Más Información' %}</a>
              </div>
            </div>
          </div>
          <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
            {% comment %} https://www.pexels.com/photo/food-woman-coffee-relaxation-8845076/ {% endcomment %}
            <img class="img-fluid rounded-3 my-5" src="{% static 'img/home-stock.jpg' %}" alt="..." />
          </div>
        </div>
      </div>
    </header>
    <!-- Features section -->
    <section class="py-5" id="{% trans 'Más_Información' %}">
      <div class="container px-5 my-5">
        <div class="row gx-5">
          <div class="col-lg-4 mb-5 mb-lg-0">
            <h2 class="fw-bolder mb-0">{% trans 'La mejor manera de equilibrar tu dieta.' %}</h2>
          </div>
          <div class="col-lg-8">
            <div class="row gx-5 row-cols-1 row-cols-md-2">
              <div class="col mb-5 h-100">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                  <i class="bi bi-collection"></i><!-- TODO: cambiar iconos -->
                </div>
                <h2 class="h5">{% trans 'Atención personalizada' %}</h2>
                <p class="mb-0">{% trans 'Atención presencial con horarios flexibles. Encuentra tu fecha perfecta' %}</p>
              </div>
              <div class="col mb-5 h-100">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                  <i class="bi bi-building"></i>
                </div>
                <h2 class="h5">{% trans 'Seguimiento de la evolución' %}</h2>
                <p class="mb-0">{% trans 'Consulta en cualquier momento la dieta y tu evolución.' %}</p>
              </div>
              <div class="col mb-5 mb-md-0 h-100">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                  <i class="bi bi-toggles2"></i>
                </div>
                <h2 class="h5">Featured title</h2> <!-- TODO: cambiar placeholders -->
                <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
              </div>
              <div class="col h-100">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                  <i class="bi bi-toggles2"></i>
                </div>
                <h2 class="h5">Featured title</h2>
                <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Testimonial section -->
    <div class="py-5 bg-light">
      <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
          <div class="col-lg-10 col-xl-7">
            <div class="text-center">
              <div class="fs-4 mb-4 fst-italic">{% trans '"El programa de nutrición de NutriBalance es mucho más que un simple plan alimenticio; es una guía integral para alcanzar un equilibrio duradero. Me han proporcionado herramientas prácticas y conocimientos fundamentales que han cambiado mi perspectiva sobre la alimentación y la salud."' %}</div>
              <div class="d-flex align-items-center justify-content-center">
                <img class="rounded-circle me-3" src="{% static '/img/review.jpg' %}" height="40px" alt="..." />
                <div class="fw-bold">
                  Ana Martínez
                  <span class="fw-bold text-primary mx-1">/</span>
                  Cliente desde 2022
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock main %}
