{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
{% trans "Iniciar de sesión" %}
{% endblock %}

{% block main %}
<h1 class="ms-5 mt-5">Mockup</h1>
<pre class="m-5">
contexto: Bob (nutricionista) logueado
url: /nutricionist 
-------------------------------------------------------------------
NutriBalance               Home Quienes Somos Contacto    Bob v 
-------------------------------------------------------------------

[*desplegable clientes*]
|----------------------|
| Alice Martinez       |
+----------------------+

-------------------------------------------------------------------
Copyright © Diego Sanz - 2023   GitHub · Privacy · Terms · Contact
-------------------------------------------------------------------
</pre>
{% endblock main %}
