{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
{% trans "Nutricionista" %}
{% endblock %}

{% block main %}

<div class="m-5">
  <h2>Clientes</h2>
  <select class="form-select col-auto" name="client" hx-post="{% url 'profile' %}" hx-swap="none">
    <option selected disabled hidden>Seleccione un cliente...</option>
{% if debug %}
    <option value="1">Alice</option>
{% endif %}    
{% for cliente in clientes %}
  <option value="{{client.id}}">{{client.first_name}} {{client.lastname}}</option>
{% endfor %}
  
  </select>
</div>
{% endblock main %}
