{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
{% trans "Iniciar de sesión" %}
{% endblock %}

{% block main %}
<h1 class="ms-5 mt-5">Mockup</h1>
<pre class="m-5">
contexto: Alice (cliente) logueada
url: /profile
-------------------------------------------------------------------
NutriBalance              Home Quienes Somos Contacto    Alice v 
-------------------------------------------------------------------

Alice Martinez


Dieta hoy:              |       Dieta mañana:               
- Desayuno:             |       - Desayuno:              
  - huevo frito         |         - huevo frito          
- Almuerzo:             |       - Almuerzo:              
  - Lomo embuchado      |         - Lomo embuchado      
- Comida:               |       - Comida:                
  - Lentejas            |         - Lentejas            
  - Yogur               |         - Yogur                
- Merienda:             |       - Merienda:              
  - Mandarina           |         - Mandarina            
- Cena:                 |       - Cena:                  
  - Judias verdes       |         - Judias verdes        


[Consultar detalles de la dieta *to: /dieta*]

Evolución

[*campo numerico* kg]  [Añadir peso de hoy] 
*si se ha añadido:*
[*campo numerico* 70kg]  [Actualizar peso de hoy] 


kg
|
|
|
| ____
|     \_____                    __
|           \__________________/
| 
+----------------------------------- dia

-------------------------------------------------------------------
Copyright © Diego Sanz - 2023   GitHub · Privacy · Terms · Contact
-------------------------------------------------------------------
</pre>
{% endblock main %}
