{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
{% trans "Perfil" %}
{% endblock %}


{% block style %}
{% endblock style %}
  

{% block main %}




<!-- Page content -->
<section class="py-5">

<div class="container px-5">
{% if nutricionist %}
<a class="link-secondary" href="{% url 'nutricionist' %}">&lt; Volver</a>
{% endif %}
<div id="form_container" class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">

  <h1>{{ client.first_name }} {{ client.last_name}}</h1>
{% if nutricionist %}
  <button 
    class="btn btn-outline-primary" 
    hx-target="body" 
    hx-get="{% url 'update-user' client.id %}"
    hx-push-url="true">
    Modificar usuario
  </button>
  <button 
    class="btn btn-outline-secondary" 
    name="toggleButton" 
    hx-target="body" 
    hx-post="{% url 'toggle-user' client.id %}">
    {% if client.is_active %} Desactivar {% else %} Activar {% endif %} usuario
  </button>
  <button 
    class="btn btn-outline-danger" 
    name="deleteButton" 
    hx-target="body" 
    hx-delete="{% url 'delete-user' client.id %}"
    hx-confirm="Esta acción no se podrá deshacer">
    Eliminar usuario
  </button>
{% endif %}
  <div class="d-flex mt-3">
    <div class="col-auto">
    <h4>Dieta hoy:</h4>
    <ul>
      <li>Desayuno</li>
      <ul>
        <li>Huevo frito</li>
      </ul>
      <li>Almuerzo</li>
      <ul>
        <li>Lomo embuchado</li>
      </ul>
      <li>Comida</li>
      <ul>
        <li>Lentejas</li>
        <li>Yogur</li>
      </ul>
      <li>Merienda</li>
      <ul>
        <li>Mandarina</li>
      </ul>
      <li>Cena</li>
      <ul>
        <li>Judias verdes</li>
      </ul>
    </ul>
  </div>
  <div class="vr col-2 mx-3"></div>
    <div class="col-3">
      <h4>Dieta mañana:</h4>
      <ul>
        <li>Desayuno</li>
        <ul>
          <li>Huevo frito</li>
        </ul>
        <li>Almuerzo</li>
        <ul>
          <li>Lomo embuchado</li>
        </ul>
        <li>Comida</li>
        <ul>
          <li>Lentejas</li>
          <li>Yogur</li>
        </ul>
        <li>Merienda</li>
        <ul>
          <li>Mandarina</li>
        </ul>
        <li>Cena</li>
        <ul>
          <li>Judias verdes</li>
        </ul>
      </ul>
      </div>
  </div>
  <a class="btn btn-primary mt-3" href="{% url 'diet' %}">Consultar detalles de la dieta</a>

  <h2 class="mt-3">Evolución</h2>
  <form method="post" class="row mb-5" hx-post="{% url 'update-daily-weight' client.id %}">
{% if not weight %}
    <div class="col-4" style="max-width: 10rem;">
      <input class="form-control" type="number" name="kg" placeholder="KG" />
    </div>
    <div class="col-auto">
      <button class="btn btn-primary" type="submit">Añadir peso de hoy</button>
    </div>
{% else %}
    <div class="col-4" style="max-width: 10rem;">
      <input class="form-control" type="number" name="kg" placeholder="KG" value="{{weight}}"/>
    </div>
    <div class="col-auto">
      <button class="btn btn-primary" type="submit">Actualizar peso de hoy</button>
    </div>
{% endif %}
  </form>

  <!--chart-->
  {% include "components/chart.html" %}
</div>
</div>
</div>
</section>
{% endblock main %}
